---
---
@import "{{ site.theme }}";

body {
  background: #FAFFFB;
}

a {
  color: #00BF2E;
}

a:hover {
  color: inherit;
  background: #D6FFD8;
  text-decoration: none;
  border-bottom: 1px solid #00BF2E;
}

.site-footer {
  display: none;
}
