---
---
@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

body {
  background: #FAFFFB;
  color: #333;
  font: lighter "Noto Sans JP", sans-serif;
}

a {
  color: #00BF2E;
  text-decoration: none;
}

a:hover {
  color: inherit;
  background: #E1FFE3;
  text-decoration: none;
  border-bottom: 1px solid #00BF2E;
}

.site-footer {
  display: none;
}

::selection {
  background: #E1FFE3;
  color: inherit;
}
